.smv-container-mail{
  background-color: chocolate;
  border-radius: 10px;
  height: 100px;
}

.smv-container-dadi{
  background-color: rgb(213, 145, 96);
  border-radius: 10px;
  height: 500px;
}




.smv-hide{
  opacity: 0;
}